<h1 class="text-center">Shuffle Lessons</h1>
<wizard on-finish="finishedWizard()" hide-indicators="true"> 
    <wz-step wz-title="Warning">
        <h3>Be warned!</h3>
        <p>
          While Oncourse does keep a revision history of your lesson plans, it does not appear to keep track of linked standards.
          This task moves those around too, so there is potential for permanent data loss should something go wrong.
        </p>
        <button class="btn btn-primary" wz-next >I understand</button>
    </wz-step>
    <wz-step wz-title="Set Boundaries">
        <h3>Set Year Boundaries</h3>
        <form name="yearBoundaries">
          <p>
            <label> Start Date </label>
            <input type="text" class="form-control short" datepicker-popup ng-model="shuffleObj.startBoundary" ng-required="true" placeholder="startDate" />
          </p>
          <p>
            <label> End Date </label>
            <input type="text" class="form-control short" datepicker-popup ng-model="shuffleObj.endBoundary" ng-required="true" placeholder="endDate" />
          </p>
        </form>
        <p>It will be assumed that dates immediately before and after these dates are not important.</p>
        <p>The first blank lesson after the end-of-year date will mark the end of the year.</p>
        <button class="btn" wz-previous ><i class="glyphicon glyphicon-arrow-left"></i> Previous</button>
        <button class="btn btn-primary" wz-next ng-disabled="yearBoundaries.$invalid">Next <i class="glyphicon glyphicon-arrow-right"></i></button>
    </wz-step>
    <wz-step wz-title="Set Skips">
        <h3>Set Skipped Days</h3>
        <p>Click days on each calendar to designate weekdays that should be skipped when shuffling.</p>
        <p>These will be days that will not be moved or overwritten.</p>
        <p>Typically one would want to mark all weekdays where there is no school.</p>
        <p>Ex: If January 2nd is marked and offCourse is moving the lesson on January 1st over one day,
          it will move that lesson to January 3rd, leaving January 2nd as it was.</p>
        <div class="months skip-select" skip-select start-date="shuffleObj.startBoundary" end-date="shuffleObj.endBoundary">
        </div>
        <button class="btn" wz-previous ><i class="glyphicon glyphicon-arrow-left"></i> Previous</button>
        <button class="btn btn-primary" wz-next >Next <i class="glyphicon glyphicon-arrow-right"></i></button>
    </wz-step>
    <wz-step wz-title="Shuffle">
        <h3>Point Of No Return</h3>
        <button class="btn" wz-previous ><i class="glyphicon glyphicon-arrow-left"></i> Previous</button>
        <button class="btn btn-success" wz-next ><i class="glyphicon glyphicon-exclamation-sign"></i> Do it. <i class="glyphicon glyphicon-exclamation-sign"></i></button>
    </wz-step>
</wizard>
