<h1 class="text-center">Backup Lessons</h1>
<p>
  A task that grabs all lesson notes, homework, and linked standards between two dates and saves them
  in json format.
</p>
<form name="backupForm" ng-submit="beginBackup($event)">
  <p>
    <label> Start Date </label>
    <input type="text" class="form-control short" datepicker-popup ng-model="backup.startDate" ng-required="true" placeholder="startDate" />
  </p>
  <p>
    <label> End Date </label>
    <input type="text" class="form-control short" datepicker-popup ng-model="backup.endDate" ng-required="true" placeholder="endDate" />
  </p>
  <p>
    <label> Output File </label>
    <div class="input-group long">
      <input type="text" disabled="true" class="form-control" ng-model="backup.fileName" ng-required="true" placeholder="outputFile" />
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="chooseFile($event)" >Choose</button>
      </span>
    </div>
  </p>

  <p>
    <button type="submit" class="btn btn-success" ng-disabled="backupForm.$invalid">Begin Task</button>
  </p>
</form>
